html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1d1d1d;
}

:root {
    --cyberpunk-yellow: #fcee09;
    --cyberpunk-blue: #00f0ff;
    --thunder-yellow: #ffff33;
    --silver-color: #C0C0C0;
    --cyberpunk-blue2: #08fdd8;
    --cyberpunk-blue3: #1FFCF6;
}

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #181818;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav_top{
    background-color:black;
    display:flex;
    flex-direction:column;
    height: 180px;
}

.sidenav_middle {
/*    padding-bottom:300px;
*/}

.sidenav_bottom{
    padding-bottom:200px;
    display:flex;
    flex-direction:row;
    color:var(--silver-color);
    justify-content:space-evenly;
}

.btn-sidenav {
    background-color: transparent;
    font-size: large;
    font-family:Chillax-Medium;
    color: var(--silver-color);
    padding-top:15px;
    padding-bottom:15px;
}

.btn-sidenav:hover{
    color: var(--cyberpunk-blue3);
}

i:hover {
    color: var(--cyberpunk-blue3);
}

hr {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin:0;
}

.outer-page {
    margin:20px 150px 0px 150px;
    padding:0 50px 0 50px;
}

.html-text {
    color: #515152;
    font-family: La Belle Aurore;
    font-size:larger;
}

.default-section{
    padding-top: 150px;
}

