html {
  font-size: 16px;
}

.sub-text{
    font-size: 1.5rem;
}

.normal-text {
    font-size: 1.2rem;
    white-space:normal;
}

@media all and (max-height: 780px) {
    html {
        font-size: 13px;
    }
}

/*@media (min-height: 500px) {
  html {
    font-size: 12px;
  }
}
*/
/*@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}*/

/*@media (max-width: 800px) {
    html {
        font-size: 10px;
    }
}
*/
html {
  position: relative;
  min-height: 100%;
}

body {
/*    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;*/
    background-color: #1d1d1d;
}

:root {
    --cyberpunk-yellow: #fcee09;
    --cyberpunk-blue: #00f0ff;
    --thunder-yellow: #ffff33;
    --silver-color: #C0C0C0;
    --cyberpunk-blue2: #08fdd8;
    --cyberpunk-blue3: #1FFCF6;
    --bootstrap-yellow: #ffc107;
    --light-purple: #a179dc;
    --cs-purple: #390091;
    --light-red: #dc7979;
    --light-blue: #79dcdc;
    --light-blue2: #79abdc;
    --light-blue3: #0089d6;
    --light-yellow: #dccc79;
    --light-yellow2: #E4EE89;
}

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #181818;
    overflow-x: hidden;
    overflow:hidden;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}

.sidenav_top{
    background-color:black;
    display:flex;
    flex-direction:column;
    height: 180px;
}

.sidenav_bottom{
    padding-bottom:200px;
    display:flex;
    flex-direction:row;
    color:var(--silver-color);
    justify-content:space-evenly;
}

.btn-sidenav {
    background-color: transparent;
    font-size: large;
    font-family:Chillax-Medium;
    color: var(--silver-color);
    padding-top:15px;
    padding-bottom:15px;
}

.btn-sidenav:hover{
    color: var(--cyberpunk-blue3);
}

i:hover {
    color: var(--cyberpunk-blue3);
}

hr {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin:0;
}

.main-page{
    display:flex;
    flex-direction:column;
}

.outer-page {
    margin:0px 50px 0px 150px;
    padding:0 50px 0 50px;
}

.html-abs{
    position:relative;
}

.html-text {
    color: #515152;
    font-family: La Belle Aurore;
    font-size:1.3rem;
}

.outer-section1 {
    display:flex;
    flex-direction:column;
    position:relative;
    height: 100vh;
}

.default-section {
    position: absolute;
    bottom:10vw;
    white-space: nowrap;
    align-items:center;
}

.rubber-span {
    color: white;
    font-family: Chillax-Semibold;
    display: inline-block;
    overflow-inline:unset;
    font-size: 5rem;
    line-height: 6rem;
    transition: 0.2s ease-in-out color;
}

#img-D {
    margin-top: -60px;
    margin-right: 0px;
    position: relative;
    height: 6rem;
    width: 6rem;
    /*height ="90" width="90"*/
}

#contact-me-btn{
    min-width: 150px;
    max-width: 230px;
}

.rubber-span:hover {
    display: inline-block;
    color: var(--cyberpunk-blue3);
    animation: rubberBand 1s;
}

.animate__animated.animate__bounceIn {
    --animate-duration: 2s;
}

section p{
    color:white;
}

.mouse_scroll {
    display: block;
    margin: 0 auto;
    /*position:relative;*/
    width: 24px;
    height: auto;
    /*margin-top: 40px;*/
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.wheel {
    -webkit-animation: mouse-wheel 1s linear infinite;
    -moz-animation: mouse-wheel 1s linear infinite;
    animation: mouse-wheel 1s linear infinite;
}

.about-section {
    position: absolute;
    white-space: nowrap;
    height: auto;
    margin-bottom: 40px;
    /*top: 20vh;*/
    bottom: 15vh;
}

.about-h1 {
    color: var(--bootstrap-yellow);
    font-size: 5rem;
    display: inline-block;
    line-height: 5rem;
    font-family: Chillax-Semibold;
}

.about-h1:hover {
    display: inline-block;
    animation: rubberBand 1s;
}

.skills-section{
    display:flex;
    flex-direction:row;
}

.outer-skills-cards {
    display: flex;
    justify-content:space-between;
    background-color:transparent;
    padding-top: 50px;
}

.inner-skills-cards{
    padding: 20px;
    margin: 20px;
    background-color:white;
    height:240px;
}

#skills-link {
    color: var(--bootstrap-yellow);
    font-family: Chillax-Medium;
}

#about-link {
    color: var(--bootstrap-yellow);
    font-family: Chillax-Medium;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.2rem;
}

#section-closer{
    position:absolute;
    bottom: 18vh;
}

#mouse_scroll1 {
    position: absolute;
    left: 39vw;
    bottom: 2vh;
}

#mouse_scroll2 {
    position: absolute;
    left: 39vw;
    bottom: 2vh;
}

#mouse_scroll3{
    margin-top:40px;
    margin-left: 750px;
}

.projects-div{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.projects-article {
    background-color: #1d1d1d;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    padding:20px;
    margin:20px;
    height:200px;
    width:400px;
}

.article-content{
    display:flex;
    flex-direction:column;
}

.article-span {
    position:relative;
    margin-bottom: 20px;
}

.article-content h4{
    color:white;
}

.csharp-color {
    border-top: solid 0.3em var(--light-purple);
    color: var(--light-purple);
}

.python-color {
    border-top: solid 0.3em var(--light-blue2);
    color: var(--light-blue2);
}

.js-color {
    border-top: solid 0.3em var(--light-yellow2);
    color: var(--light-yellow2);
}

.cpp-color {
    border-top: solid 0.3em var(--light-red);
    color: var(--light-red);
}

.projects-link {
    color: var(--bootstrap-yellow);
    font-family: Chillax-Medium;
}

.projects-link:hover{
    color:var(--cyberpunk-blue3);
}

.article-github{
    float:right;
    color:inherit;
}

.article-github:hover{
    color: var(--cyberpunk-blue3);
}

.contact-form{
    width:800px;
    max-height:450px;
}

.contact-input-outer {
    display: flex;
    height:inherit;
    flex-direction: column;
    justify-content:space-between;
    margin-left:12px;
}

.form-control:focus {
    background-color: #2b2b2b;
    box-shadow: 0 3px 0 0 var(--bootstrap-yellow);
    outline: none;
    color: #8d8d8d;
}

.contact-input {
    height: 50px;
    background-color: #2b2b2b;
    border: none;
    color: #8d8d8d;
}

textarea {
    resize: none;
}

.col-form-label {
    color: red;
    box-shadow: none;
}

input {
    margin-bottom: 5px;
}

input.invalid-input, textarea.invalid-input {
    box-shadow: 0 3px 0 0 rgb(255 0 0) !important;
    color: red;
}

label.invalid-input{
    margin: 5px 0px 5px 0px;
}

label{
    color:red;
}

.btn-sidenav:focus{
    outline:none;
    box-shadow:none;
}

.link-sidenav{
    color:transparent;
}

#middle-input{
    margin:5px 0px 10px 0px;
}

.copyright-footer{
    display:block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#copyright-text {
    margin: 0px;
    text-align:center;
    color:white;
}

#server-alert {
    position:fixed;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}


@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

