html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1d1d1d;
}

:root {
    --cyberpunk-yellow: #fcee09;
    --cyberpunk-blue: #00f0ff;
    --thunder-yellow: #ffff33;
    --silver-color: #C0C0C0;
    --cyberpunk-blue2: #08fdd8;
    --cyberpunk-blue3: #1FFCF6;
    --bootstrap-yellow: #ffc107;
}

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #181818;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav_top{
    background-color:black;
    display:flex;
    flex-direction:column;
    height: 180px;
}

.sidenav_middle {
/*    padding-bottom:300px;
*/}

.sidenav_bottom{
    padding-bottom:200px;
    display:flex;
    flex-direction:row;
    color:var(--silver-color);
    justify-content:space-evenly;
}

.btn-sidenav {
    background-color: transparent;
    font-size: large;
    font-family:Chillax-Medium;
    color: var(--silver-color);
    padding-top:15px;
    padding-bottom:15px;
}

.btn-sidenav:hover{
    color: var(--cyberpunk-blue3);
}

i:hover {
    color: var(--cyberpunk-blue3);
}

hr {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin:0;
}

.outer-page {
    margin:20px 150px 0px 150px;
    padding:0 50px 0 50px;
}

.html-text {
    color: #515152;
    font-family: La Belle Aurore;
    font-size:larger;
}

.default-section{
    padding-top: 90px;
    margin-bottom:40px;
}

.rubber-span {
    color: white;
    font-family: Chillax-Semibold;
    display:inline-block;
    font-size: 500%;
    transition: 0.2s ease-in-out color;
}

.rubber-span:hover{
    display: inline-block;
    color: var(--cyberpunk-blue3);
    animation: rubberBand 1s;
}

.animate__animated.animate__bounceIn {
    --animate-duration: 2s;
}

section p{
    color:white;
}

.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: auto;
    margin-top: 40px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.wheel {
    -webkit-animation: mouse-wheel 1s linear infinite;
    -moz-animation: mouse-wheel 1s linear infinite;
    animation: mouse-wheel 1s linear infinite;
}

.about-section {
    height: auto;
    margin-bottom: 40px;
}

.about-h1 {
    color: var(--bootstrap-yellow);
    font-size: 400%;
    display: inline-block;
    font-family: Chillax-Semibold;
}

.about-h1:hover {
    display: inline-block;
    animation: rubberBand 1s;
}

#about-link,
#skills-link{
    color:var(--bootstrap-yellow);
    font-family:Chillax-Medium;
}

#mouse_scroll2 {
    padding-top:110px;
    margin-top: 0px;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}


@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

