@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if(ViewData["server-error"] == "True"){
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="server-alert">
      <div>
        Server error! Email not submitted.                     
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<p class="html-text">&lt;html&gt;</p>
<p class="ps-5 html-text">&lt;body&gt;</p>
<section class="px-5 default-section">
    <p class="m-0 html-text">&lt;h1&gt;</p>
    <div id="id1" class="animate__animated animate__bounceIn animate__delay-1s rubber-span">H</div>
    <div class="animate__animated animate__bounceIn animate__delay-1s rubber-span">i</div> 
    <div class="animate__animated animate__bounceIn animate__delay-1s rubber-span">,</div>
    <br />
    <div class="animate__animated animate__bounceIn animate__delay-2s rubber-span">I</div> 
    <div class="animate__animated animate__bounceIn animate__delay-2s rubber-span">'</div> 
    <div class="animate__animated animate__bounceIn animate__delay-2s rubber-span">m&nbsp</div>
    <img class="animate__animated animate__rotateIn animate__delay-2s" src="~/images/DLogoTransparent4.png" height="90" width="90" style="margin-top:5px;position:absolute;"/>
    <div class="animate__animated animate__bounceIn animate__delay-2s rubber-span" style="margin-left:90px;">a</div> 
    <div class="animate__animated animate__bounceIn animate__delay-2s rubber-span">v</div> 
    <div class="animate__animated animate__bounceIn animate__delay-2s rubber-span">i</div> 
    <div class="animate__animated animate__bounceIn animate__delay-2s rubber-span">,</div>
    <br />
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">W</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">e</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">b&nbsp</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">D</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">e</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">v</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">e</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">l</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">o</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">p</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">e</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">r</div> 

    <p class="html-text">&lt;/h1&gt;</p>
    <p class="html-text">&lt;p&gt;</p>
    <p class="animate__animated animate__fadeInRight animate__delay-3s" style="font-family:Chillax-Regular; width:500px;">Full-stack Web Developer / .NET enthusiast</p>
    <p class="html-text">&lt;/p&gt;</p>

    <button id="contact-me-btn" class="mt-4 col-2 mx-auto btn btn-lg btn-outline-warning animate__animated animate__fadeInUp animate__delay-3s">
        Contact me!
    </button>

    <div class="mouse_scroll" style="margin-left:700px;">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
    </div>
</section>
<section id="scroll2" class="px-5 about-section">
    <p class="m-0 html-text" style="padding-top:40px;padding-bottom:180px;">&ltsection&gt</p>
    <p class="m-0 html-text">&lth2&gt</p>
    <div class="animate__animated animate__bounceIn about-h1">A</div>
    <div class="animate__animated animate__bounceIn about-h1">b</div>
    <div class="animate__animated animate__bounceIn about-h1">o</div>
    <div class="animate__animated animate__bounceIn about-h1">u</div>
    <div class="animate__animated animate__bounceIn about-h1">t</div>
    <div class="animate__animated animate__bounceIn about-h1">&nbsp</div>
    <div class="animate__animated animate__bounceIn about-h1">m</div>
    <div class="animate__animated animate__bounceIn about-h1">e</div>
    <p class="html-text">&lt/h2&gt</p>
    <br />
    <p class="m-0 html-text">&ltp&gt</p>
    <p class="col-6">Born in Brazil, I started to be interested in programming at a very young age and I had my first contact with the area at a Brazilian technical education institution called SENAC.</p>
    <p class="col-6">It was during high school that I decided to pursue a career as a developer. In Fall 2020 I joined Seneca College (Toronto, CA) to study software development.</p>
    <p class="col-6">Dedicated, honest and respectful worker with a friendly temperament. Fan of games, Brazilian literature and student of classical philosophy (especially Stoicism and Hermeticism).</p>
    <p class="col-6">My area of greatest interest is the backend with ASP.NET framework</p>
    <span id="about-link">Let's work together!</span>
    <p class="m-0 html-text">&lt/p&gt</p>
    <p class="m-0 html-text">&lt/section&gt</p>
    <div id="mouse_scroll2" class="mouse_scroll">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
    </div>
</section>
<section class="px-5 skills-section">
    <div class="left-skills-section" >
        <p class="m-0 html-text" style="padding-top:40px;padding-bottom:150px;">&ltsection&gt</p>
        <p class="m-0 html-text">&lth2&gt</p>
        <div class="animate__animated animate__bounceIn about-h1">M</div>
        <div class="animate__animated animate__bounceIn about-h1">y</div>
        <div class="animate__animated animate__bounceIn about-h1">&nbsp</div>
        <div class="animate__animated animate__bounceIn about-h1">S</div>
        <div class="animate__animated animate__bounceIn about-h1">k</div>
        <div class="animate__animated animate__bounceIn about-h1">i</div>
        <div class="animate__animated animate__bounceIn about-h1">l</div>
        <div class="animate__animated animate__bounceIn about-h1">l</div>
        <div class="animate__animated animate__bounceIn about-h1">s</div>
        <p class="html-text">&lt/h2&gt</p>
        <br />
        <p class="m-0 html-text">&ltp&gt</p>
        <p class="col-10">During college, I worked with Javascript, Node.js, Heroku, Jquery, Bootstrap, HTML5 and CSS. Apart from the web development, C/C++, SQL and Linux were also object of study.</p>
        <p class="col-10">After my graduation, I started workinkg with Python and developed a bug tracker with Flask web framework, which included a real-time chat with Socket.io</p>
        <p class="col-10">Currently, I've been studying and developing with C# and ASP.NET. My focus is the .NET platform.</p>
        <a id="skills-link" href="https://github.com/davi-leonardi?tab=repositories" target="_blank">Check my Github!</a>
        <p class="m-0 html-text">&lt/p&gt</p>
        <p class="m-0 html-text">&lt/section&gt</p>
    </div>
    <div class="outer-skills-cards">
        <div class="col">
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/c-sharp.png" width="200" height="200"/>
            </div>
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/html-5-pngrepo-com.png" width="200" height="200"/>
            </div>
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/git-pngrepo-com.png" width="200" height="200"/>
            </div>

        </div>
        <div class="col">
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/dotnet-svgrepo-com.png" width="200" height="200"/>
            </div>
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/css-3-pngrepo-com.png" width="200" height="200"/>
            </div>
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/bootstrap-4-logo-pngrepo-com.png" width="200" height="200"/>
            </div>
        </div>
        <div class="col">
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/azure.png" width="200" height="200"/>
            </div>
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/kisspng-javascript-responsive-web-design-programmer-5b16edb5181f08.6215468715282293010988.png" width="200" height="200"/>
            </div>
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/postgresql-logo-pngrepo-com.png" width="200" height="200"/>
            </div>
        </div>
    </div>
</section>
    <div id="mouse_scroll3" class="mouse_scroll">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
    </div>
<section class="px-5 projects-section">
    <p class="m-0 html-text" style="padding-top:80px;">&ltsection&gt</p>
    <p class="m-0 html-text">&lth2&gt</p>
    <div class="animate__animated animate__bounceIn about-h1">P</div>
    <div class="animate__animated animate__bounceIn about-h1">o</div>
    <div class="animate__animated animate__bounceIn about-h1">r</div>
    <div class="animate__animated animate__bounceIn about-h1">t</div>
    <div class="animate__animated animate__bounceIn about-h1">f</div>
    <div class="animate__animated animate__bounceIn about-h1">o</div>
    <div class="animate__animated animate__bounceIn about-h1">l</div>
    <div class="animate__animated animate__bounceIn about-h1">i</div>
    <div class="animate__animated animate__bounceIn about-h1">o</div>
    <p class="html-text">&lt/h2&gt</p>
    <br />
    <p class="m-0 html-text">&ltp&gt</p>
    <p class="col-10">This is a small gallery of projects developed by me.</p>
    <p class="m-0 html-text">&lt/p&gt</p>
    <br />
    <p class="m-0 html-text">&ltdiv&gt</p>
    <div class="projects-div">
        <article class="csharp-color projects-article">
            <div class="article-content">
                <span class="article-span">C#, ASP.NET MVC & Azure</span>
                <h4>Inventory Management System</h4>
                <p>SQLServer, EF Core, Identity, deployed on Azure.</p>
                <div>
                    <a class="article-github" href="https://github.com/davi-leonardi/InventoryManagementSystem" target="_blank">
                        <i title="Github" style="color:inherit;">  
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                        </i>
                    </a>
                </div>
            </div>
        </article>
        <article class="python-color projects-article">
            <div class="article-content">
                <span class="article-span">Python, Flask & Socket.io</span>
                <h4>Bug Tracker</h4>
                <p>A real-time bug tracker with authentication.</p>
                <div>
                    <a class="article-github" href="https://github.com/davi-leonardi/bugTracker" target="_blank">
                        <i title="Github" style="color:inherit;">  
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                        </i>
                    </a>
                </div>
            </div>
        </article>
        <article class="js-color projects-article">
            <div class="article-content">
                <span class="article-span">Javascript & Node.js</span>
                <h4>Web Wildlife Walk</h4>
                <p>Organizes species from INaturalist platform.</p>
                <div>
                    <a class="article-github" href="https://github.com/davi-leonardi/Web-Wildlife-Walk" target="_blank">
                        <i title="Github" style="color:inherit;">  
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                        </i>
                    </a>
                </div>
            </div>
        </article>
        <article class="cpp-color projects-article">
            <div class="article-content">
                <span class="article-span">C++</span>
                <h4>Console Apps</h4>
                <p>Hospital pre-triage app, Assembly line & Others.</p>
                <div>
                    <a class="article-github" href="https://github.com/davi-leonardi/Programming-in-cpp/tree/portfolio" target="_blank">
                        <i title="Github" style="color:inherit;">  
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                        </i>
                    </a>
                </div>
            </div>
        </article>
        <article class="csharp-color projects-article">
            <div class="article-content">
                <span class="article-span">C#, ASP.NET Razor Pages & Azure</span>
                <h4>My Website (this)</h4>
                <p>A static Single Page App deployed on Azure.</p>
                <div>
                    <a class="projects-link" href="davileonardi.com" target="_blank">davileonardi.com</a>
                    <a class="article-github" href="https://github.com/davi-leonardi/davileonardi.com" target="_blank">
                        <i title="Github" style="color:inherit;">  
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                        </i>
                    </a>
                </div>
            </div>
        </article>
    </div>
    <p class="m-0 html-text">&lt/div&gt</p>
    <p class="m-0 html-text">&lt/section&gt</p>
</section>
<br />
<section class="px-5 contact-section">
    <p class="m-0 html-text" style="padding-top:80px;">&ltsection&gt</p>
    <p class="m-0 html-text">&lth2&gt</p>
    <div class="animate__animated animate__bounceIn about-h1">C</div>
    <div class="animate__animated animate__bounceIn about-h1">o</div>
    <div class="animate__animated animate__bounceIn about-h1">n</div>
    <div class="animate__animated animate__bounceIn about-h1">t</div>
    <div class="animate__animated animate__bounceIn about-h1">a</div>
    <div class="animate__animated animate__bounceIn about-h1">c</div>
    <div class="animate__animated animate__bounceIn about-h1">t</div>
    <div class="animate__animated animate__bounceIn about-h1">&nbsp</div>
    <div class="animate__animated animate__bounceIn about-h1">m</div>
    <div class="animate__animated animate__bounceIn about-h1">e</div>
    <div class="animate__animated animate__bounceIn about-h1">!</div>
    <p class="html-text">&lt/h2&gt</p>
    <p class="m-0 html-text">&ltp&gt</p>
    <p class="col-10">I'd love the opportunity to be part of your team. Feel free to use the form and ask any question &#128512;.</p>
    <p class="m-0 html-text">&lt/p&gt</p>
    <br />
    <p class="ms-4 html-text">&ltform&gt</p>
    <form id="form-email" class="ps-4 contact-form" method="post">
        <div class="row">
            <div class="form-group col-md-6">
                <input class="form-control contact-input" name="Name" type="text" asp-for="EmailDTOModel.Name" placeholder="Name"/>
            </div>
            <div class="form-group col-md-6">
                <input class="form-control contact-input" name="Email" type="email" asp-for="EmailDTOModel.Email" placeholder="Your e-mail"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <input id="middle-input" class="form-control contact-input" name="Subject" asp-for="EmailDTOModel.Subject" placeholder="Subject" type="text"/>
            </div>
            <div class="form-group col-md-12">
                <textarea class="form-control contact-input" name="Body" asp-for="EmailDTOModel.Body" placeholder="Message" maxlength="500" style="height:150px;"></textarea>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="form-group col-md-6">
                <span style="color:var(--bootstrap-yellow);">Recipient: dleonardimathey@gmail.com</span>
            </div>
            <div class="form-group col-md-6">
                <button class="btn btn-lg btn-outline-warning contact-input-button" type="submit" style="float:right;">
                    Send e-mail
                </button>
            </div>
        </div>
    </form>
    <p class="ms-4 html-text">&lt/form&gt</p>
    <p class="html-text">&lt/section&gt</p>
</section>
<p class="ps-5 html-text" >&lt;/body&gt;</p>
<p class="m-0 html-text">&lt;/html&gt;</p>
<div class="copyright-footer">
    <p id="copyright-text">&copy 2022 - Davi Leonardi, All Rights Reserved.</p>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js"></script>