@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p class="html-text">&lt;html&gt;</p>
<p class="ps-5 html-text">&lt;body&gt;</p>
<section class="px-5 default-section">
    <p class="m-0 html-text">&lt;h1&gt;</p>
    <div id="id1" class="animate__animated animate__bounceIn animate__delay-1s rubber-span">H</div>
    <div class="animate__animated animate__bounceIn animate__delay-1s rubber-span">i</div> 
    <div class="animate__animated animate__bounceIn animate__delay-1s rubber-span">,</div>
    <br />
    <div class="animate__animated animate__bounceIn animate__delay-2s rubber-span">I</div> 
    <div class="animate__animated animate__bounceIn animate__delay-2s rubber-span">'</div> 
    <div class="animate__animated animate__bounceIn animate__delay-2s rubber-span">m&nbsp</div>
    <img class="animate__animated animate__rotateIn animate__delay-2s" src="~/images/DLogoTransparent4.png" height="90" width="90" style="margin-top:5px;position:absolute;"/>
    <div class="animate__animated animate__bounceIn animate__delay-2s rubber-span" style="margin-left:90px;">a</div> 
    <div class="animate__animated animate__bounceIn animate__delay-2s rubber-span">v</div> 
    <div class="animate__animated animate__bounceIn animate__delay-2s rubber-span">i</div> 
    <div class="animate__animated animate__bounceIn animate__delay-2s rubber-span">,</div>
    <br />
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">W</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">e</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">b&nbsp</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">D</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">e</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">v</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">e</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">l</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">o</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">p</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">e</div> 
    <div class="animate__animated animate__bounceIn animate__delay-3s rubber-span">r</div> 

    <p class="html-text">&lt;/h1&gt;</p>
    <p class="html-text">&lt;p&gt;</p>
    <p class="animate__animated animate__fadeInRight animate__delay-3s" style="font-family:Chillax-Regular; width:200px;">Full-stack Web Developer</p>
    <p class="html-text">&lt;/p&gt;</p>

    <button class="mt-4 col-2 mx-auto btn btn-lg btn-outline-warning animate__animated animate__fadeInUp animate__delay-3s">
        Contact me!
    </button>

    <div class="mouse_scroll" style="margin-left:700px;">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
    </div>
</section>
<section class="px-5 about-section">
    <p class="m-0 html-text" style="padding-top:40px;padding-bottom:180px;">&ltsection&gt</p>
    <p class="m-0 html-text">&lth2&gt</p>
    <div class="animate__animated animate__bounceIn about-h1">A</div>
    <div class="animate__animated animate__bounceIn about-h1">b</div>
    <div class="animate__animated animate__bounceIn about-h1">o</div>
    <div class="animate__animated animate__bounceIn about-h1">u</div>
    <div class="animate__animated animate__bounceIn about-h1">t</div>
    <div class="animate__animated animate__bounceIn about-h1">&nbsp</div>
    <div class="animate__animated animate__bounceIn about-h1">m</div>
    <div class="animate__animated animate__bounceIn about-h1">e</div>
    <p class="html-text">&lt/h2&gt</p>
    <br />
    <p class="m-0 html-text">&ltp&gt</p>
    <p class="col-6">Born in Brazil, I started to be interested in programming at a very young age and I had my first contact with the area at a Brazilian technical education institution called SENAC.</p>
    <p class="col-6">It was during high school that I decided to pursue a career as a developer. In Fall 2020 I joined Seneca College (Toronto, CA) to study software development.</p>
    <p class="col-6">Dedicated, honest and respectful worker with a friendly temperament. Fan of games, Brazilian literature and student of classical philosophy (especially Stoicism and Hermeticism).</p>
    <p class="col-6">My area of greatest interest is the backend with ASP.NET framework</p>
    <a id="about-link" href="#">Let's work together!</a>
    <p class="m-0 html-text">&lt/p&gt</p>
    <p class="m-0 html-text">&lt/section&gt</p>
    <div id="mouse_scroll2" class="mouse_scroll">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
    </div>
</section>
<section class="px-5 skills-section">
    <div class="left-skills-section" >
        <p class="m-0 html-text" style="padding-top:40px;padding-bottom:150px;">&ltsection&gt</p>
        <p class="m-0 html-text">&lth2&gt</p>
        <div class="animate__animated animate__bounceIn about-h1">M</div>
        <div class="animate__animated animate__bounceIn about-h1">y</div>
        <div class="animate__animated animate__bounceIn about-h1">&nbsp</div>
        <div class="animate__animated animate__bounceIn about-h1">S</div>
        <div class="animate__animated animate__bounceIn about-h1">k</div>
        <div class="animate__animated animate__bounceIn about-h1">i</div>
        <div class="animate__animated animate__bounceIn about-h1">l</div>
        <div class="animate__animated animate__bounceIn about-h1">l</div>
        <div class="animate__animated animate__bounceIn about-h1">s</div>
        <p class="html-text">&lt/h2&gt</p>
        <br />
        <p class="m-0 html-text">&ltp&gt</p>
        <p class="col-10">During college, I worked with Javascript, Node.js, Heroku, Jquery, Bootstrap, HTML5 and CSS. Apart from the web development, C/C++, SQL and Linux were also object of study.</p>
        <p class="col-10">After my graduation, I started workinkg with Python and developed a bug tracker with Flask web framework, which included a real-time chat with Socket.io</p>
        <p class="col-10">Currently, I've been studying and developing with C# and ASP.NET. My focus is the .NET platform.</p>
        <a id="skills-link" href="https://github.com/davi-leonardi?tab=repositories" target="_blank">Check my Github!</a>
        <p class="m-0 html-text">&lt/p&gt</p>
        <p class="m-0 html-text">&lt/section&gt</p>
    </div>
    <div class="outer-skills-cards">
        <div class="col">
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/c-sharp.png" width="200" height="200"/>
            </div>
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/html-5-pngrepo-com.png" width="200" height="200"/>
            </div>
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/git-pngrepo-com.png" width="200" height="200"/>
            </div>

        </div>
        <div class="col">
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/dotnet-svgrepo-com.png" width="200" height="200"/>
            </div>
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/css-3-pngrepo-com.png" width="200" height="200"/>
            </div>
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/bootstrap-4-logo-pngrepo-com.png" width="200" height="200"/>
            </div>
        </div>
        <div class="col">
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/azure.png" width="200" height="200"/>
            </div>
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/kisspng-javascript-responsive-web-design-programmer-5b16edb5181f08.6215468715282293010988.png" width="200" height="200"/>
            </div>
            <div class="shadow-lg rounded inner-skills-cards">
                <img src="~/images/microsoft-sql-server-logo-pngrepo-com.png" width="200" height="200"/>
            </div>
        </div>
    </div>
</section>
    <div id="mouse_scroll3" class="mouse_scroll">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
    </div>
<section class="px-5 projects-section">
    <p class="m-0 html-text" style="padding-top:80px;">&ltsection&gt</p>
    <p class="m-0 html-text">&lth2&gt</p>
    <div class="animate__animated animate__bounceIn about-h1">P</div>
    <div class="animate__animated animate__bounceIn about-h1">o</div>
    <div class="animate__animated animate__bounceIn about-h1">r</div>
    <div class="animate__animated animate__bounceIn about-h1">t</div>
    <div class="animate__animated animate__bounceIn about-h1">f</div>
    <div class="animate__animated animate__bounceIn about-h1">o</div>
    <div class="animate__animated animate__bounceIn about-h1">l</div>
    <div class="animate__animated animate__bounceIn about-h1">i</div>
    <div class="animate__animated animate__bounceIn about-h1">o</div>
    <p class="html-text">&lt/h2&gt</p>
    <br />
    <p class="m-0 html-text">&ltp&gt</p>
    <p class="col-10">This is a small gallery of projects developed by me.</p>
    <p class="m-0 html-text">&lt/p&gt</p>
    <br />
    <p class="m-0 html-text">&ltdiv&gt</p>
    <div class="projects-div">
        <article class="csharp-color projects-article">
            <div class="article-content">
                <span class="article-span">C#, ASP.NET MVC & Azure</span>
                <h4>Inventory Management System</h4>
                <p>Just a simple inventory management system.</p>
            </div>
        </article>
        <article class="python-color projects-article">
            <div class="article-content">
                <span class="article-span">Python, Flask & Socket.io</span>
                <h4>Bug Tracker</h4>
                <p>Just a simple bug tracker</p>
            </div>
        </article>
        <article class="js-color projects-article">
            <div class="article-content">
                <span class="article-span">Javascript & Node.js</span>
                <h4>Web Wildlife Walk</h4>
                <p>INaturalist stuff</p>
            </div>
        </article>
        <article class="cpp-color projects-article">
            <div class="article-content">
                <span class="article-span">C++</span>
                <h4>Console app</h4>
                <p>Some console app</p>
            </div>
        </article>
        <article class="csharp-color projects-article">
            <div class="article-content">
                <span class="article-span">C#, ASP.NET Razor Pages & Azure</span>
                <h4>My Website (this)</h4>
                <p>A static Single Page App deployed on Azure.</p>
                <a class="projects-link" href="davileonardi.com" target="_blank">davileonardi.com</a>
            </div>
        </article>
    </div>
    <p class="m-0 html-text">&lt/div&gt</p>
    <p class="m-0 html-text">&lt/section&gt</p>
</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        setTimeout(function(){
            $(".rubber-span").removeClass("animate__delay-1s");
        }, 2000);
        setTimeout(function(){
            $(".rubber-span").removeClass("animate__delay-2s");
        }, 3000);
        setTimeout(function(){
            $(".rubber-span").removeClass("animate__delay-3s");
        }, 4000);
    });

</script>