@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p class="html-text">&lt;html&gt;</p>
<p class="ps-5 html-text">&lt;body&gt;</p>
<section class="px-5 default-section">
    <p class="html-text">&lt;h1&gt;</p>
</section>